.ti-single-button {
  float: left;
}

.ti-stack-options-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ti-browzine-button-with-stack {
    margin-left: 10px;
  }
}

.ti-consolidated-coverage {
  font-size: 0.875rem;
  color: var(--sys-primary);
  font-weight: 400;
  margin-left: 0.5rem;
}
